.little-card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.carta {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    height: 350px;
    margin: 16px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    div {
        display: flex;
        flex-direction: column;
    }
}