<p>services works!</p>

<div>
   <h2>Prueba para guard de datos no guardados</h2> 
   <button (click)="goToLogin()">Ir al login</button>
</div>

<div>
   <h2>Funcionalidad para traer valores sencillos</h2> 
   <button (click)="goToPage()">Ir a valores sencillos</button>
</div>

<div>
    <h2>Prueba de paginado</h2> 
    <button (click)="goToPages()">Ir al paginado</button>
</div>

<div>
   <h2>Prueba buscar por número de página</h2> 
   <button (click)="goToNumberPage()">Ir al número de paginado</button>
</div>

<div>
   <h2>Propando la pipe de filter</h2> 
   <button (click)="goToFilterPage()">Ir a prueba de filtro</button>
</div>

<div>
   <h2>Propando la pipe de filter pero al darle click</h2> 
   <button (click)="goToFilterButton()">Ir a prueba de filtro con un botón</button>
</div>